body {
  padding: 0;
  margin: 0;
  font-family: Figtree, serif;
  background-color: hsl(47, 88%, 63%);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
}

.post-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 327px;
  padding: 24px;
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;
  box-shadow: 8px 8px 0px black;
}
@media (min-width: 375px) {
  .post-card {
    width: 384px;
  }
}
.post-card__heading {
  box-sizing: border-box;
  height: 200px;
  flex: 0 0 auto;
  align-self: stretch;
  overflow: hidden;
  border-radius: 10px;
  background: hsl(47, 88%, 63%);
}
.post-card__heading-image {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: initial;
  height: 200px;
}
.post-card__content {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
}
.post-card__content-button {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 73px;
  min-width: 73px;
  height: 26px;
  font-family: Figtree, serif;
  font-size: 12px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  cursor: pointer;
  background-color: hsl(47, 88%, 63%);
  border: none;
  border-radius: 4px;
}
@media (min-width: 375px) {
  .post-card__content-button {
    width: 82px;
    min-width: 82px;
    height: 29px;
    font-size: 14px;
  }
}
.post-card__content-info {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font-family: Figtree, serif;
  font-size: 12px;
  font-weight: 500;
  color: hsl(0, 0%, 7%);
}
@media (min-width: 375px) {
  .post-card__content-info {
    font-size: 14px;
  }
}
.post-card__content-heading {
  flex: 0 0 auto;
  align-self: stretch;
  padding: 0;
  margin: 0;
  font-family: Figtree, serif;
  font-size: 20px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  text-align: left;
  transition: color 0.3s;
  transition: cursor 0.3s;
}
.post-card__content-heading:hover {
  color: hsl(47, 88%, 63%);
}
.post-card__content-heading:hover {
  cursor: pointer;
}
@media (min-width: 375px) {
  .post-card__content-heading {
    font-size: 24px;
  }
}
.post-card__content-text {
  flex: 0 0 auto;
  align-self: stretch;
  padding: 0;
  margin: 0;
  font-family: Figtree, serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: hsl(0, 0%, 42%);
  text-align: left;
}
@media (min-width: 375px) {
  .post-card__content-text {
    font-size: 16px;
    line-height: 24px;
  }
}
.post-card__author {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}
.post-card__author-image {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 32px;
  max-width: initial;
  height: 32px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.post-card__author-name {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font-family: Figtree, serif;
  font-size: 14px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
}

/*# sourceMappingURL=styles.css.map */
