//colors

$yellow-color: hsl(47, 88%, 63%);
$white-color: hsl(0, 0%, 100%);
$gray-500-color: hsl(0, 0%, 42%);
$gray-950-color: hsl(0, 0%, 7%);

//screen-sizes

$mobile-screen: 375px;
$deskctop-scree: 1440px;

//font-sizes

$paragraph-font-size: 16px;
$heading-font-size: 24px;
$info-font-size: 14px;

//font-weights

$font-weight-light: 500;
$font-weight-bold: 800;

//font-family

$font-family: Figtree, serif;

//transitions

$transition-time: 0.3s;
